token
*.o
test_token
test_cell
test_symbol
test_reader
*.dep
*.dep.*
*.dSYM
/test_environment
/test_eval
/test_primitives
/GPATH
/GRTAGS
/GSYMS
/GTAGS
repl
TAGS
/src/vm/test/test_context.cpp~
/test/test_context
/src/vm/vm_error.hpp~
